@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "transitions";

body {
  height: 100vh;
  overflow: hidden;
  color: #FFFFFF;
}

.layout {
  min-width: 100%;
  min-height: 100%;
  height: calc(100dvh - 69px);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  touch-action: pan-x pan-y;
}

@media screen and (max-width: 400px) {
  .layout {
    user-select: none;
  }
}

.button-space {
  margin-bottom: 75px!important;
}